# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Logs
logs
*.log
*.log.*

# Env
.env
server/.env
RailTrace/.env

# Builds
dist
dist-ssr
build
.cache
*.tsbuildinfo

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Hardhat/Artifacts
blockchain/artifacts/
blockchain/cache/
server/abi/ProductManager.json

# Misc
*.local
